*{margin: 0;padding: 0;box-sizing: border-box;}

body,html{
    width: 100%;
    height: 100%;
}
.main{
    background-color: rgb(53, 82, 248);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 400px;
    width: 253px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    position: relative;
}
.storiyan::-webkit-scrollbar{
    display: none;
}
.storiyan{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #b45a5a;
    padding: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.story{
    /* background-color: blueviolet; */
    border: 2px solid red;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin-right: 5px;
    cursor: pointer;
}

.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.full_screen{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: none;
    overflow: hidden;
    transition: all 2s ease;
}